<p>edit vet</p>

<form method="post" action="/vets/<%= @vet.id %>">
  <label for="first-name">First Name: </label>
  <input type="text" name="first_name" id="first-name" value="<%= @vet.first_name %>">

  <label for="last-name">Last Name: </label>
  <input type="text" name="last_name" id="last-name" value="<%= @vet.last_name %>">

  <label for="phone-number">Phone Number: </label>
  <input type="text" name="phone_number" id="phone-number" value="<%= @vet.phone_number %>">

  <label for="max-pets">Maximum Pets In Care: </label>
  <input type="number" name="max_pets" id="max-pets" value="<%= @vet.max_pets %>">

  <input type="submit" value="Update">
</form>
