<div class="pet-details">
  <h1>Details of Pet</h1>

  <table class="pet-details-table">
    <tr>
      <th>Name:</th>
      <td><%= @pet.name %></td>
    </tr>
    <tr>
      <th>Specie:</th>
      <td><%= @pet.specie %></td>
    </tr>
    <tr>
      <th>Breed:</th>
      <td><%= @pet.breed %></td>
    </tr>
    <tr>
      <th>Year of Birth:</th>
      <td><%= @pet.year_of_birth %></td>
    </tr>
    <tr>
      <th>Age:</th>
      <td><%= @pet.age %></td>
    </tr>
  </table>
  <table class="pet-owner-details-table">
    <tr>
      <th>Owner Name:</th>
      <td><%= @pet.owner_name %></td>
    </tr>
    <tr>
      <th>Owner Phone Number:</th>
      <td><%= @pet.owner_phone %></td>
    </tr>
    <tr>
      <th>Owner Address:</th>
      <td><%= @pet.owner_address %></td>
    </tr>
    <tr>
      <th>Vet Assigned:</th>
      <td><%= "DR #{@vet.first_name} #{@vet.last_name}" %></td>
    </tr>
  </table>

  <p><%= @pet.notes %></p>


  <a href="/pets/<%= @pet.id %>/edit">Edit Record</a>

</div>
