<p> pet details </p>
<p>Name: <%= @pets.name %> </p>
<p>Specie: <%= @pets.specie %> </p>
<p>Breed: <%= @pets.breed %> </p>
<p>Year of Birth: <%= @pets.year_of_birth %> </p>
<p>Age: <%= @pets.age %> </p>
<p>Notes: <%= @pets.notes %></p>
<p>Owner Name: <%= @pets.owner_name %> </p>
<p>Owner Phone Number: <%= @pets.owner_phone %> </p>
<p>Owner Address: <%= @pets.owner_address %>
