<h1>Vet Details</h1>
<p><%= "Dr #{@vet.first_name} #{@vet.last_name}" %></p>
<p>Phone: <%= @vet.phone_number %></p>
<p>Pets in care: <%= @vet.pet_count %></p>
<p>Available Slots: <%= @vet.available_slots %>
<button><a href="/vets/<%= @vet.id %>/edit">Edit Record</a></button>
