<div class="all-vets">

  <h1>All Vets</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Availability</th>
      <th>Pets in Care</th>
      <th>Profile</th>
    </tr>


      <% @vets.each do |vet| %>
        <tr>
          <td><%= "DR #{vet.first_name} #{vet.last_name}"%> </td>
          <td>
            <% if vet.available_slots < 1 %>
              <span class="fully-booked"><%= "Fully Booked" %></span>
            <% else %>
              <span class="available"><%= "Has Availability" %></span>
            <% end %>
          </td>
          <td><%= vet.pet_count %></td>
          <td><a href="vets/<%= vet.id %>">See Profile</a></td>
        </tr>

      <% end %>

  </table>
  <a href="/vets/new">Create New Vet</a>


</div>
